<p>Choose a category</p>
<select name="id_tags" id="tags" class="select" multiple>
    {{#each tags }}
    {{#selectedTag ../sneaker this}}
    {{/selectedTag}}
    {{!-- <option value="{{this._id}}">{{this.name}}</option> --}}
    {{/each}}
</select>